<!--
HTML for showing admins the restaurants to be approved
Update 11-17-21 Documentation
Update 11-16-21 Original Creation 
-->
<table>
    <tr>
        <th> Restaurant Name </th>
        <th> Restaurant Type </th>
        <th> Hours </th>
        <th> Price </th>
        <th> Rating </th>
        <th> Menu </th>
        <th> Approve </th>
    </tr>
    {{#each rows}}
    <tr>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{hours}}</td>
        <td>{{price}}</td>
        <td>{{rating}}</td>
        <td><a href="{{menu}}" target="_blank">Menu</a></td>
        <td><a href="/admin/edit/{{id}}">Approve</a></td>
    </tr>

    {{/each}}
</table>

<button type="create"><a href="/admin/table">Edit Main Table</a></button>
<button type="create"><a href="/">Back to Home</a></button>
